USE [KShop]
GO
/****** Object:  StoredProcedure [dbo].[sp_update_Product]    Script Date: 2021-03-19 12:23:34 PM ******/
DROP PROCEDURE [dbo].[sp_update_Product]
GO
/****** Object:  StoredProcedure [dbo].[sp_login_Account]    Script Date: 2021-03-19 12:23:34 PM ******/
DROP PROCEDURE [dbo].[sp_login_Account]
GO
/****** Object:  StoredProcedure [dbo].[sp_add_Product]    Script Date: 2021-03-19 12:23:34 PM ******/
DROP PROCEDURE [dbo].[sp_add_Product]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK__Product__Categor__31EC6D26]
GO
ALTER TABLE [dbo].[InvoiceDetail] DROP CONSTRAINT [FK__InvoiceDe__Produ__30F848ED]
GO
ALTER TABLE [dbo].[InvoiceDetail] DROP CONSTRAINT [FK__InvoiceDe__Invoi__300424B4]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [FK__Invoice__UserNam__2F10007B]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [FK__Account__RoleId__2E1BDC42]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [df_current_date]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [df_status_true]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2021-03-19 12:23:34 PM ******/
DROP TABLE [dbo].[UserRole]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2021-03-19 12:23:34 PM ******/
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 2021-03-19 12:23:34 PM ******/
DROP TABLE [dbo].[InvoiceDetail]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2021-03-19 12:23:34 PM ******/
DROP TABLE [dbo].[Invoice]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2021-03-19 12:23:34 PM ******/
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2021-03-19 12:23:34 PM ******/
DROP TABLE [dbo].[Account]
GO
USE [master]
GO
/****** Object:  Database [KShop]    Script Date: 2021-03-19 12:23:34 PM ******/
DROP DATABASE [KShop]
GO
/****** Object:  Database [KShop]    Script Date: 2021-03-19 12:23:34 PM ******/
CREATE DATABASE [KShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KShop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2021-03-19 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[FullName] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [varchar](50) NULL,
	[RoleId] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2021-03-19 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [varchar](50) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2021-03-19 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [date] NULL,
	[TotalPrice] [float] NULL,
	[UserName] [varchar](50) NULL,
	[Address] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 2021-03-19 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[InvoiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2021-03-19 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[Price] [float] NULL,
	[Status] [bit] NULL,
	[CreatedDate] [date] NULL,
	[CategoryId] [varchar](50) NULL,
	[Image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2021-03-19 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleId] [varchar](50) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([FullName], [Address], [UserName], [Password], [Age], [Gender], [RoleId]) VALUES (N'Nguyễn Admin', N'456 Linh Trung ', N'admin', N'123456', 23, N'Female', N'AD')
INSERT [dbo].[Account] ([FullName], [Address], [UserName], [Password], [Age], [Gender], [RoleId]) VALUES (N'Nguyễn Đăng Khoa', N'123 Nguyễn Linh Trung', N'user', N'123456', 12, N'Male', N'US')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (N'1', N'Quần')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (N'2', N'Áo')
INSERT [dbo].[UserRole] ([RoleId], [RoleName]) VALUES (N'AD', N'Admin')
INSERT [dbo].[UserRole] ([RoleId], [RoleName]) VALUES (N'US', N'User')
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [df_status_true]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [df_current_date]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRole] ([RoleId])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([InvoiceId])
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
/****** Object:  StoredProcedure [dbo].[sp_add_Product]    Script Date: 2021-03-19 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_add_Product](@productName nvarchar(50),
								@quantity int,
								@price float,
								@categoryId varchar(50),
								@image nvarchar(max))
as
begin
	insert into Product(ProductName, Quantity, Price, CategoryId, Image)
	values(@productName, @quantity, @price, @categoryId, @image)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_login_Account]    Script Date: 2021-03-19 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_login_Account](@username varchar(50),
								  @password varchar(50))
as
begin
	select UserName
	from Account
	where UserName=@username and Password = @password
end
GO
/****** Object:  StoredProcedure [dbo].[sp_update_Product]    Script Date: 2021-03-19 12:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_update_Product](@productId int,
									@productName nvarchar(50),
									@quantity int,
									@price float,
									@status bit,
									@categoryId varchar(50),
									@image nvarchar(max))
as
begin
	update Product
	set ProductName=@productName, Quantity = @quantity, Price=@price,
		Status=@status, CategoryId=@categoryId, Image=@image 
	where ProductId=@productId
end
GO
USE [master]
GO
